Feature: {{ feature.name }}
         {{ (feature.description | wordwrap(width=71,wrapstring="\n         ")) }}

{% for section in feature.sections %}

# {{ (section.description | wordwrap(width=78,wrapstring="\n# ")) }}

{% for scenario in section.scenarios %}
Scenario: {{ section.name }} / {{ scenario.name }}
          {{ (scenario.description | wordwrap(width=70,wrapstring="\n          ")) + "\n" if scenario.description else "" }}
{% for step in scenario.steps %}
    {{ step }}
{% endfor %}

{% endfor %}
{% endfor %}
